@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*     General overwrite     */
body {
  color: #66615b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body .wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  min-height: 100vh;
}

a {
  color: #168da8;
}
a:hover,
a:focus {
  color: #107990;
  text-decoration: none;
}
a.underline {
  text-decoration: underline;
}

.ui-slider-handle:focus,
.navbar-toggle,
input:focus,
button:focus {
  outline: 0 !important;
}

img {
  max-width: 100%;
}
hr {
  border-color: #f1eae0;
}

.relative {
  position: relative;
}
.hidden-block {
  display: none;
}

.container {
  margin-left: initial;
}
.container.login {
  margin-left: auto;
}

.jumbotron {
  background: #ffffff;
}

.json-box {
  border: 1px solid #ccc5b9;
  border-radius: 4px;
  padding: 1rem;
  background-color: #e9ecef;
}

.vjs__tree .vjs__value__string {
  color: #28a745 !important;
}

.vjs__tree .vjs__value__boolean {
  color: #1cabcb !important;
}

.vjs__tree .vjs__value__number {
  color: #e31f1a !important;
}

.vjs__tree {
  font-size: 12px !important;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100vh;
  position: relative;
}

/* Height Sizing  Styles */
.h100 {
  min-height: 100vh;
}
.h75 {
  min-height: 75vh;
}
.h50 {
  min-height: 50vh;
}

/*     L O G I N    S T Y L E S     */
.log-name {
  font-size: 0.7rem;
  color: #fff;
  margin-bottom: 0.25rem;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .log-name {
    font-size: 1rem;
  }
}

.boxed {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  margin-bottom: 0;
  background: #fbfbfb;
  width: calc(100% - 260px);
  margin-left: 260px;
  padding: 0 55px;
  z-index: 9;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
}
.boxed.active {
  width: calc(100% - 70px);
  margin-left: 70px;
  transition: all ease 0.3s;
}
.boxed.show {
  display: flex;
  flex-wrap: wrap;
}

.hide-tablet {
  display: none;
}

@media (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width: 1024px) {
  .hide-tablet {
    display: inline-block;
  }
}

/*           Animations              */
.collapse .item-nav,
.collapsing .item-nav,
.collapse.show .item-nav {
  width: 100%;
  padding: 0.6rem;
  border-left: 8px solid transparent;
}
.collapse .item-nav a,
.collapsing .item-nav a {
  color: #fff;
}
.collapse .item-nav.active,
.collapse.show .item-nav.active {
  border-left: 8px solid #da262d;
}
.sidebar-wrapper.active .side-bar .nav > .collapse .item-nav span.h,
.sidebar-wrapper.active .side-bar .nav > .collapsing .item-nav span.h,
.sidebar-wrapper.active .side-bar .nav > .collapse.show .item-nav span.h {
  display: none;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  display: block;
  font-weight: 400;
  background-color: #000;
}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: calc(100% - 75px);
  margin-top: 75px;
  overflow: hidden;
  width: 260px;
  box-shadow: inset -1px 0px 0px 0px #dddddd;
  transition: all ease 0.2s;
}
.sidebar .sidebar-wrapper.active {
  width: 70px;
  transition: all ease 0.2s;
}
.sidebar .sidebar-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.logo {
  width: 244px;
  padding: 0px 16px 10px 0;
}
.sidebar .logo {
  padding: 22px 0px;
  margin: 0;
}
.sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  line-height: 20px;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 4px 0px;
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.sidebar .nav {
  margin-top: 0;
}
.sidebar .nav li {
  margin-left: -1px;
  width: 100%;
  padding: 0.75rem;
  background: #373737;
  cursor: pointer;
  border-bottom: 1px solid #252525;
}
.sidebar .nav li.collapsed {
  background-color: #1c1c1c;
}
.sidebar .nav li > a {
  margin: 10px 0px;
  padding-left: 5px;
  opacity: 0.9;
  color: #fff;
}
.collapse.show .item-nav a {
  color: #fff;
}
.sidebar .nav li:hover > a {
  opacity: 1;
  color: #fff;
}
.sidebar .nav li.collapsed > a {
  opacity: 0.5;
}
.sidebar .nav li.collapsed:hover > a {
  opacity: 1;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar .sidebar-wrapper .nav li > a span {
  display: inline-flex;
}
.sidebar .sidebar-wrapper.active .nav li > a span {
  display: none;
}

#nav a {
  color: #fff;
}
#nav a.router-link-exact-active,
#nav a.router-link-active {
  color: #ef3829;
}
#nav a.router-link-exact-active .item-nav,
#nav a.router-link-active .item-nav {
  border-left: 8px solid #ef3829;
}

#navbar-claro {
  background: url(../images/header.png) #fff no-repeat;
  background-position: right top;
}
#navbar-user {
  margin-right: 0px;
}
.navbar {
  border: 0;
  border-radius: 0;
  font-size: 16px;
}
.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  /*padding: 20px 15px;*/
  font-size: 20px;
}

@media (min-width: 1024px) {
  #navbar-user {
    margin-right: 30px;
  }
}

.main-panel {
  background-color: #efefef;
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  padding-top: 75px;
  transition: width ease 0.5s;
}
.main-panel.active {
  width: calc(100% - 70px);
  transition: width ease 0.3s;
}
.main-panel > .content {
  padding: 40px;
  min-height: calc(100% - 123px);
}
.main-panel > .content .btn-hide {
  position: fixed;
  top: 80px;
  left: 260px;
  border-radius: 0 25px 25px 0;
  padding-left: 5px;
  padding-right: 8px;
  transition: all ease 0.5s;
  z-index: 10;
}
.main-panel > .content .btn-hide.active {
  position: fixed;
  top: 80px;
  left: 70px;
  border-radius: 0 25px 25px 0;
  transition: all ease 0.2s;
}
.main-panel > .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main-panel .navbar {
  margin-bottom: 0;
}

.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.btn {
  border-radius: 5px;
  box-sizing: border-box;
  border-width: 2px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 18px;
  border-color: #fff;
  color: #66615b;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #66615b;
  color: rgba(255, 255, 255, 0.7);
  border-color: #66615b;
}

.btn.btn-fill {
  color: #ffffff;
  background-color: #66615b;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn.btn-fill:hover,
.btn.btn-fill:focus,
.btn.btn-fill:active {
  background-color: #403d39;
  color: #ffffff;
  border-color: #403d39;
}

.btn:hover,
.btn:focus {
  outline: 0 !important;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn-gray {
  color: #585858;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ccc5b9;
}
.btn-gray:hover,
.btn-gray:focus {
  background-color: #f9f9f9;
  border: 1px solid #ccc5b9;
  color: #565656;
}

.btn-white {
  color: #fff;
  border-color: #f8f9fa;
  font-weight: 700;
}

.btn-white:hover,
.btn-white:focus {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-success {
  border-color: #7ac29a;
  color: #7ac29a;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #7ac29a;
  color: rgba(255, 255, 255, 0.7);
  border-color: #7ac29a;
}

.btn-success.btn-fill {
  color: #ffffff;
  background-color: #7ac29a;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-success.btn-fill:hover,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:active {
  background-color: #42a084;
  color: #ffffff;
  border-color: #42a084;
}

.btn-info {
  border-color: #1cabcb;
  color: #1cabcb;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: #168da8;
  color: #fff;
  border-color: #168da8;
}
.btn-info.edit:hover {
  background-color: transparent;
  opacity: 0.9;
  color: #1cabcb;
}
.btn-info.btn-fill {
  color: #ffffff;
  background-color: #1cabcb;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-info.btn-fill:hover,
.btn-info.btn-fill:focus,
.btn-info.btn-fill:active {
  background-color: #168da8;
  color: #ffffff;
  border-color: #168da8;
}

.btn-warning {
  border-color: #f5482b;
  color: #f5482b;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #f5482b;
  color: rgba(255, 255, 255, 0.7);
  border-color: #f5482b;
}
.btn-warning.btn-fill {
  color: #ffffff;
  background-color: #f5482b;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-warning.btn-fill:hover,
.btn-warning.btn-fill:focus,
.btn-warning.btn-fill:active {
  background-color: #d1341a;
  color: #ffffff;
  border-color: #d1341a;
}

.btn-danger {
  border-color: #ef3829;
  color: #ef3829;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #ef3829;
  color: rgba(255, 255, 255, 0.7);
  border-color: #ef3829;
}
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger:disabled,
.btn-danger:disabled:hover,
.btn-danger:disabled:focus,
.btn-danger:disabled:active {
  background-color: transparent;
  border-color: #ef3829;
}
.btn-danger.btn-fill {
  color: #ffffff;
  background-color: #ef3829;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-danger.btn-fill:hover,
.btn-danger.btn-fill:focus,
.btn-danger.btn-fill:active {
  background-color: #b7202e;
  color: #ffffff;
  border-color: #b7202e;
}

.btn-aqua {
  border-color: #00d8e2;
  color: #00d8e2;
}
.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active {
  background-color: #06c2ca;
  color: #fff;
  border-color: #06c2ca;
}
.btn-aqua.btn-fill {
  color: #ffffff;
  background-color: #00d8e2;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-aqua.btn-fill:hover,
.btn-aqua.btn-fill:focus,
.btn-aqua.btn-fill:active {
  background-color: #08bac2;
  border-color: #08bac2;
}

.btn:disabled,
.btn[disabled],
.btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-lg {
  font-size: 16px;
  padding: 11px 30px;
  font-weight: 400;
}
.btn-sm {
  font-size: 12px;
  padding: 4px 10px;
}
.btn-xs {
  font-size: 12px;
  padding: 2px 5px;
}
.btn-outline-secondary {
  border: 1px solid #ccc5b9;
}

.form-control {
  background-color: #ffffff;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control::-moz-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}
.border-input {
  border-radius: 4px;
  border: 1px solid #ccc5b9;
}
.form-control.border-input {
  border: 1px solid #ccc5b9;
}
.form-control.border-input .input-group-addon {
  border: solid 1px #ccc5b9;
}
.form-control:focus {
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #21aec8;
}
.el-select {
  display: inherit;
  color: inherit;
}
textarea.form-control {
  max-width: 100%;
  padding: 10px 18px;
  resize: none;
}

.is-valid:focus-within {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.is-valid:focus {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.is-invalid:focus-within {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.alert-info {
  background-color: #7ce4fe;
  color: #3091b2;
}

.alert-success {
  background-color: #8ef3c5;
  color: #42a084;
}

.alert-warning {
  background-color: #ffe28c;
  color: #bb992f;
}

.alert-danger {
  background-color: #ff8f5e;
  color: #b33c12;
}

/* checkboxes and radios  */

.radio {
  margin: 0.5rem;
}
.radio .radio-label {
  cursor: pointer;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #ffffff;
  box-shadow: inset 0 0 0 3px #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  position: relative;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #00d8e3;
  box-shadow: inset 0 0 0 3px #f4f4f4;
  border: 1px solid #00d8e3;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #ccc;
}
.styled-checkbox:checked + label:before {
  background: #168da8;
  border: 1px solid #168da8;
}
.styled-checkbox.role:checked + label:before {
  background: #000;
  border: 1px solid #000;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check {
  height: 16px;
  width: 25px;
  padding-top: 4px;
  position: relative;
  cursor: pointer;
}

.check:after {
  content: "\00D7";
  display: block;
  background: white;
  background-image: url("../images/icons/checkbox.png");
  pointer-events: none;
  font-size: 15px;
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  color: transparent;
  transition: 0.15s all ease-in-out;
  border-radius: 3px;
  line-height: 20px;
  background-position: 0 15px;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  border: 1px solid #ccc;
}

.check:checked:after {
  background-color: #1cabcb;
  background-position: 3px 3px;
}
.check:hover:after {
  border-color: #1cabcb;
}

.navbar-default {
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
}

.card {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
}
.card.drop {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: initial;
  border: none;
}
.card.drop-list {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: initial;
  border: 1px solid #168da8;
}
.card.min252 {
  min-height: 252px;
}
.card.min292 {
  min-height: 292px;
}
.card.min300 {
  min-height: 300px;
}
.card.min308 {
  min-height: 308px;
}
.card .image {
  width: 100%;
  overflow: hidden;
  height: 260px;
  border-radius: 6px 6px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card .header {
  padding: 10px 20px;
  background-color: #efefef;
}
.card .header.list {
  background-color: #168da8;
  padding: 12px 15px;
}
.card .header.breadcrumbs {
  padding-left: 0;
}
.card-image {
  max-height: 130px;
}
.el-card {
  border-color: #dcdfe6;
}
label {
  font-size: 15px;
  /* margin-bottom: 5px; */
  font-weight: 700;
  color: #343434;
}

label.radio-active {
  border-color: #e2e2e2;
  background-color: #efefef;
  color: #555;
  /* margin-left: 0; */
}
label.radio-active.active {
  border-color: #16a82e;
  background-color: #16a82e;
  color: #fff;
}
label.radio-no-active {
  border-color: #e2e2e2;
  background-color: #efefef;
  color: #555;
}
label.radio-no-active.active {
  border-color: #ef3829;
  background-color: #ef3829;
  color: #fff;
}

.card .header.list label {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
.card .description {
  font-size: 16px;
  color: #66615b;
}

.card .title {
  margin: 0;
  color: #252422;
  font-weight: 300;
}

.navbar-nav {
  flex-direction: row;
}
@media (min-width: 992px) {
  .navbar {
    min-height: 75px;
  }
  .navbar-nav {
    flex-direction: row;
  }

  body > .navbar-collapse.collapse {
    display: none !important;
  }
  .card .content {
    padding: 30px;
  }
}

/*          Changes for small display      */
@media (max-width: 991px) {
  body {
    position: relative;
  }

  .dropdown-menu .divider {
    background-color: rgba(229, 229, 229, 0.15);
  }

  .navbar-nav {
    margin: 1px 0 3px;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 230px;
    content: "";
    overflow-x: hidden;
  }

  .main-panel > .content {
    padding-left: 0;
    padding-right: 0;
  }
}

/*   C U S T O M     S T Y L E S     D A S H B O A R D    */

.nav-item.select {
  width: 300px;
  margin-left: 12px;
}
.form-control.search {
  border: 2px solid #555;
}
.list-new {
  margin-top: 30px;
  margin-right: 30px;
  padding: 1rem;
  background-color: #18ae0f;
  color: #fff;
}
.separator-v,
.separator-h {
  width: 1px;
  height: 90px;
  position: absolute;
  left: 2px;
  top: 24px;
  background-color: #dddddd;
}
.separator-h {
  height: 60px;
  width: 2px;
}
.separator-v.process,
.separator-h.process {
  background-color: #21aec8;
}
.separator-v.success,
.separator-h.success {
  background-color: #01d6e4;
}

.progress {
  height: 1.3rem;
  margin-left: 2rem;
}
.progress-custom {
  border-radius: 25px;
  background-color: #1cabcb;
}
/*tags*/
.vue-tags-input {
  max-width: 100% !important;
}
.vue-tags-input .input {
  border-radius: 5px;
}
.tag.valid {
  background-color: #00d8e2 !important;
}
.tag.deletion-mark {
  background-color: #da262d !important;
}
.tag .content {
  padding: 0;
  font-weight: 700;
}

.badge-custom-info {
  color: #fff;
  background-color: #01d6e4;
}
.badge-custom-process {
  background-color: #dddddd;
}
.badge-step,
.badge-icon {
  font-size: 95%;
  margin-right: 0.2rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.badge-icon {
  padding-top: 4px;
  background-color: #02f5c7;
}
.badge-icon:before {
  margin-left: 3px;
}

.box-icon {
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
}
.box-icon img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

/*DropZone*/
.imageUploadContainer {
  height: auto;
  width: 100%;
  border: 2px dashed transparent;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.imageUploadContainer:hover {
  border: 2px dashed #ccc;
}
.imageUploadContainer div h4 {
  color: #da262d;
  font-weight: 400;
}
.imageUploadContainer input {
  position: absolute;
  cursor: pointer;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.b-table thead th {
  color: #000000;
  background-color: #ffffff;
  border-color: #dddddd;
  border-bottom: 1px solid #dee2e6;
}
.table-results tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}
.table-results tbody tr.tr-footer:nth-of-type(even) {
  background-color: transparent;
}
.table-results tbody tr td {
  padding: 10px 12px;
  vertical-align: middle;
}
.table-results thead tr > th,
.table-results thead tr > td,
.table-results tbody tr > th,
.table-results tbody tr > td,
.table-results tfoot tr > th,
.table-results tfoot tr > td {
  border-top: 0px solid transparent;
}
.table-results thead tr > th.actions {
  width: 90px;
  height: 50px;
}
.table-results > thead > tr > th.sorting,
.table-results > tfoot > tr > th.sorting {
  padding-left: 1.8em;
}
.table-results > thead > tr > th.sorting:focus {
  outline: 0px solid transparent;
}
.table-results > thead > tr > th.sorting::before,
.table-results > tfoot > tr > th.sorting::before {
  left: 0.75em;
  right: initial;
  top: 0.75em;
  color: #ef3829;
  opacity: 0.3;
}
.table-results > thead > tr > th.sorting::after,
.table-results > tfoot > tr > th.sorting::after {
  left: 0.25em;
  right: initial;
  top: 0.75em;
  color: #ef3829;
  opacity: 0.3;
}

.table-results tbody tr td.td-result {
  text-align: center;
  color: #fff;
}
.table-results tbody tr td.td-radio-l {
  border-top-left-radius: 15px;
}
.table-results tbody tr td.td-radio-r {
  border-top-right-radius: 15px;
}
.table-results tbody tr td.td-radio-x {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.table-results tbody tr.footer td p {
  line-height: 14px;
  margin-top: 2px;
}

.page-item.active .page-link {
  background-color: #1cabcb;
  border-color: #1cabcb;
}

/*  L O G I N  */

.text-custom-success {
  color: #00ebbd;
}
.text-blue {
  color: #168da8 !important;
}
.text-null {
  color: #c9c9c9;
}

.vue-notification {
  font-size: 18px;
  margin-top: 10px;
  z-index: 5;
}
.vue-notification .notification-content {
  font-size: 14px;
}

/*   C U S T O M     S T Y L E S     T A B L E S    */

/* Texts Colors */
.text-error {
  color: #ef3829;
  margin-bottom: 0;
  padding: 0.5rem;
}
.text-optional {
  text-align: left;
  padding-left: 9rem;
}
/* Breadcrumb */
.breadcrumb {
  background-color: #efefef;
  margin-bottom: 0;
  padding-left: 0;
}
.breadcrumb .breadcrumb-item {
  font-size: 14px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  vertical-align: top;
  font-size: 30px;
  line-height: 20px;
  color: #ccc;
}

/* Background Colors Styles */

.bg-gray {
  background-color: #efefef;
}
.bg-gray-50 {
  background-color: #fbfbfb;
}
.bg-white {
  background-color: #ffffff;
}
.bg-turquoise {
  background-color: #21aec8;
}
.bg-blue {
  background-color: #1cabcb;
}
.bg-red {
  background-color: #b7202e;
}
.bg-orange {
  background-color: #f5482b;
}
.bg-blue-50 {
  background-color: #72dcf3;
}
.bg-red-50 {
  background-color: #f17b86;
}
.bg-orange-50 {
  background-color: #f78d7b;
}
.bg-login {
  background: url(../images/back.jpg) center no-repeat;
  background-size: cover;
}

/* I C O N S */
.icon-lg {
  width: 28px;
  height: 28px;
}
.icon-sm {
  width: 15px;
  height: 15px;
}
.icon-xs {
  width: 12px;
  height: 12px;
}
.icon-xl {
  width: 85px;
  height: 85px;
}
.fa-sort-table {
  color: #dddddd;
  font-size: 1.2rem;
  position: absolute;
  right: 25px;
  top: 10px;
}
.card-login {
  padding: 2rem 4rem;
  background-color: #fff;
  background-color: rgba(225, 225, 225, 0.85);
}
/* tabs */
.tabs .card-header {
  background-color: #efefef;
  border-radius: initial;
  padding-left: 4px;
  padding-right: 4px;
  border-color: transparent;
  border-bottom: initial;
}
.nav-lists .nav-item {
  padding: 0 6px;
  margin-bottom: 0;
}
.nav-lists .nav-link {
  background-color: transparent;
  color: #000000;
  font-weight: 700;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  border-left: initial;
  border-right: initial;
  border-bottom: 8px solid #efefef;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.nav-lists .nav-link:hover {
  background-color: transparent;
  border-color: #efefef;
  border-bottom: 8px solid rgba(255, 255, 255, 0.5);
}
.nav-lists .nav-link.active {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid transparent;
  border-bottom: 8px solid #ffffff;
}
.nav-lists .nav-link.active:hover {
  border: 1px solid transparent;
  border-bottom: 8px solid #ffffff;
}
.alert-claro {
  border: 1px solid #dddddd;
  background-color: transparent;
  color: #000;
}
.alert-claro.warning {
  border: 1px solid red;
}
.alert-claro.success {
  border: 1px solid #00ebbd;
}

/*  Switch  */

input.switch[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label.labelSwitch {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 35px;
  background: #a6a6a6;
  display: block;
  border-radius: 33px;
  position: relative;
}
label.labelSwitch:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input.switch:checked + label.labelSwitch {
  background: #16a82e;
}
label.labelSwitch:active:after {
  width: 60px;
}
input.switch:checked + label.labelSwitch:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

/*  Modals Roles */
.modal-role .modal-header {
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
}
.modal-role .modal-header .close {
  padding: 1rem 2rem;
}
.modal-role .modal-header .modal-title {
  line-height: 1.2;
}
.modal-role .modal-header .modal-title .title {
  font-size: 1.5rem;
}
.list-unstyled .nav-item label.text-blue:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 4px;
}
.list-unstyled .nav-item label.text-null:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  margin-right: 8px;
}
div.v-selectpage div.sp-input-container div.sp-base {
  height: 40px !important;
  padding: 8px 12px !important;
}
div.v-selectpage div.sp-input-container div.sp-clear {
  top: 4px !important;
}
.sp-clear-all-btn {
  display: none;
}

/*  Modals Delete */

.footer-custom {
  border-top: 1px solid #fff;
  padding-bottom: 2rem;
}

/*  NOT FOUND STYLES */
.st0 {
  fill: #ef3829;
}
svg {
  display: block;
  margin: 0 auto;
  overflow: visible !important;
}
svg #robot_1_ {
  animation-name: verticalAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
svg #light_1_ {
  animation-name: blinkLight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(2);
}
svg #leftEye_1_,
svg #rightEye_1_ {
  animation-name: blinkEye;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}
svg #leftArm_1_ {
  animation-name: moveLeftArm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 10%;
  transition: all;
}
svg #rightArm_1_ {
  animation-name: moveRightArm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 10%;
}
svg #shadow_1_ {
  animation-name: shadowAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50%;
}

@keyframes wave {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(170deg);
  }
}

@keyframes moveLeftArm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes moveRightArm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@keyframes shadowAnimation {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.15);
    opacity: 0.6;
  }
}

@keyframes verticalAnimation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes blinkLight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinkEye {
  0% {
    transform: scaleY(0);
  }
  4% {
    transform: scaleY(1);
  }
}
