<template>
  <div class="card_list">
    <div id="boxed" class="boxed">
      <div class="col-sm-4 col-lg-6 pl-0">
        <h3 class="font-weight-bold mb-0 mt-2">Tarjetas</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block my-1"
          @click="showModal({}, true)"
        >
          <i class="far fa-credit-card mr-1"></i>
          Nueva tarjeta
        </button>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block"
          @click="showModalSort"
        >
          <i class="fas fa-random mr-1"></i>
          Cambiar orden
        </button>
      </div>
    </div>

    <div class="row justify-content-end pb-3">
      <div class="col-sm-4 col-lg-6">
        <h3 class="font-weight-bold mb-0">Tarjetas</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block"
          @click="showModal({}, true)"
        >
          <i class="far fa-credit-card mr-1"></i>
          Nueva tarjeta
        </button>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block"
          @click="showModalSort"
        >
          <i class="fas fa-random mr-1"></i>
          Cambiar orden
        </button>
      </div>
    </div>

    <div class="card drop">
      <div class="content">
        <loader v-if="loading" :error="error" :method="getCards" />
        <div class="row" v-else>
          <div class="col-sm-12 col-lg-12">
            <template v-if="cards.length">
              <el-col
                class="m-3"
                :span="7"
                v-for="card in cards"
                :key="card.id"
              >
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <i
                      class="fas fa-circle mr-2"
                      v-bind:class="
                        card.active ? 'text-success' : 'text-danger'
                      "
                      data-toggle="tooltip"
                      data-placement="top"
                      :title="translations.status[card.active]"
                    ></i>
                    <span class="font-weight-bold">{{ card.title }}</span>
                    <b-button
                      style="float: right;"
                      variant="info"
                      size="sm"
                      @click="showModal(card, false)"
                    >
                      Editar
                    </b-button>
                  </div>
                  <div class="text item text-center">
                    <img class="card-image" :src="card.image" />
                  </div>
                  <div class="text item">
                    <hr />
                    <ul class="mt-3">
                      <li v-for="desc in card.descriptionArray" :key="desc">
                        {{ desc }}
                      </li>
                    </ul>
                    <hr />
                    <el-input
                      :id="'input-copy' + card.id"
                      v-model="card.url"
                      size="small"
                      readonly
                    >
                      <el-button
                        slot="append"
                        icon="el-icon-copy-document"
                        @click="copyToClipboard(card.id)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Copiar al portapapeles"
                      ></el-button>
                    </el-input>
                  </div>
                </el-card>
              </el-col>
            </template>

            <template v-else>
              <div class="text-center mb-5">
                <img
                  class="icon-xl"
                  src="../assets/images/icons/caja_vacia.svg"
                />
                <h5 class="font-weight-bold text-null ">
                  Aún no existen tarjetas registradas.
                </h5>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <modal-card
      ref="modalCard"
      :card="card"
      :create="create"
      @refresh="refresh"
    />
    <modal-card-sort ref="modalCardSort" :cards="cards" @refresh="refresh" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Notify from "@/utils/notifications";
import { BButton } from "bootstrap-vue";
import ModalCard from "@/components/ModalCard.vue";
import Loader from "@/components/Loader.vue";
import ModalCardSort from "@/components/ModalCardSort.vue";
import * as CardServices from "@/api/LandingBackHelpers/Card";
import { serverBus } from "@/main";

@Component({ components: { ModalCard, ModalCardSort, BButton, Loader } })
export default class Card extends Vue {
  cards: Array<any> = [];
  card: object = {};
  error: boolean = false;
  loading: boolean = true;
  create: boolean = false;
  translations: object = {
    status: {
      true: "Activo",
      false: "Inactivo"
    }
  };

  getCards() {
    this.loading = true;
    this.error = false;

    CardServices.find({ sort: "order" })
      .then((res: any) => {
        this.loading = false;
        this.cards = res.data;
        this.cards.forEach(card => {
          card.descriptionArray = [];
          if (card.description) {
            card.descriptionArray = card.description.split(
              String.fromCharCode(10)
            );
          }
        });
      })
      .catch(error => {
        this.error = true;
        Notify.gebServerError(error);
      });
  }

  copyToClipboard(id: string) {
    let copyText = document.getElementById(
      "input-copy" + id
    ) as HTMLInputElement;
    copyText.select();
    document.execCommand("copy");
    Notify.successful("La URL se ha copiado al portapapeles.");
  }

  showModal(card: object, create: boolean) {
    this.create = create;
    this.card = card;
    (this.$refs["modalCard"] as any).$children[0].show();
  }

  showModalSort() {
    (this.$refs["modalCardSort"] as any).$children[0].show();
  }

  mounted() {
    this.getCards();
    serverBus.$off("updateLandingURL");
    serverBus.$on("updateLandingURL", () => {
      this.getCards();
    });
  }

  refresh() {
    this.getCards();
  }
}
</script>
