<template>
  <div class="home">
    <div class="wrapper">
      <the-nav-bar />
      <div
        class="sidebar"
        data-background-color="black"
        data-active-color="danger"
      >
        <div id="sidebar" class="sidebar-wrapper">
          <the-side-bar />
        </div>
      </div>
      <div id="main" class="main-panel" v-on:scroll="handleScroll">
        <div class="content">
          <button
            id="btn-hide"
            class="btn btn-info btn-fill btn-hide"
            v-on:click="hideSidebar"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="container-fluid container-claro">
            <router-view />
          </div>
        </div>
      </div>
      <notifications position="bottom left" :duration="4000" :max="1" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TheNavBar from "@/components/TheNavBar.vue";
import TheSideBar from "@/components/TheSideBar.vue";
import Notify from "@/utils/notifications";
import AdminBack from "@/api/AdminBack";

@Component({
  components: {
    TheNavBar,
    TheSideBar
  }
})
/**
 * @desc Home component script.
 * @extends {Vue}
 */
export default class Home extends Vue {
  hideSidebar() {
    let sidebar = document.getElementById("sidebar");
    let main = document.getElementById("main");
    let btn_hide = document.getElementById("btn-hide");
    let boxed = document.getElementById("boxed");

    if (sidebar) sidebar.classList.toggle("active");
    if (main) main.classList.toggle("active");
    if (btn_hide) btn_hide.classList.toggle("active");
    if (boxed) boxed.classList.toggle("active");
  }

  handleScroll() {
    let element = document.getElementById("main");
    let sidebar = document.getElementById("sidebar");
    let boxed = document.getElementById("boxed") || null;
    let activeDiv = false;
    let scrollH = 0;
    if (sidebar) activeDiv = sidebar.classList.contains("active");
    if (element) scrollH = element.scrollTop;

    if (boxed && scrollH) {
      if (scrollH >= 80) {
        boxed.classList.add("show");
      } else {
        boxed.classList.remove("show");
      }
    }
    if (boxed && activeDiv) {
      if (activeDiv == true) {
        boxed.classList.add("active");
      }
    }
  }

  created() {
    if (!AdminBack.IS_USER_INFO_FETCHED) {
      AdminBack.setupLocalStates();
    }
  }
}
</script>
