<template>
  <div class="login h100 d-flex align-items-center bg-login">
    <div class="container login">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
          <div class="card card-login">
            <div class="content mt-3">
              <!-- <div class="row">
                <div class="col-sm-12">
                  <div
                    class="alert alert-claro warning"
                    role="alert"
                    v-if="error"
                  >
                    <div class="media d-flex align-items-center">
                      <img
                        width="23"
                        height="23"
                        class="mr-3"
                        src=""
                        alt="Alerta"
                      />
                      <div class="media-body">
                        <h6 class="mb-0">
                          <span class="small text-body">{{ errorMsj }}</span>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <form ref="form" novalidate>
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input
                    id="form-email"
                    class="form-control border-input"
                    required
                    v-model="email"
                    placeholder="Correo electrónico"
                    type="text"
                    :pattern="regex.toString('email')"
                    :class="
                      !email
                        ? ''
                        : regex.validate('email', email)
                        ? 'is-valid'
                        : 'is-invalid'
                    "
                  />
                  <div class="invalid-feedback">
                    Ingresa un correo válido
                  </div>
                </div>
                <div class="form-group">
                  <label>Contraseña</label>
                  <input
                    id="form-password"
                    class="form-control border-input"
                    required
                    minlength="6"
                    v-model="password"
                    placeholder="Contraseña"
                    type="password"
                    :class="
                      !password
                        ? ''
                        : password.length >= 6
                        ? 'is-valid'
                        : 'is-invalid'
                    "
                  />
                  <div class="invalid-feedback">
                    Tu contraseña debe tener al menos 6 caracteres
                  </div>
                </div>
                <div class="row justify-content-center py-3">
                  <div class="col-sm-5 col-lg-7">
                    <button
                      id="form-submit"
                      class="btn btn-danger btn-fill btn-block"
                      :disabled="!isFormValid || loading"
                      @click="login(email, password)"
                    >
                      Iniciar sesión
                    </button>
                    <p class="mt-4 text-center"></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <notifications position="top right" />
  </div>
</template>

<script lang="ts">
import { Emit, Component, Prop, Vue } from "vue-property-decorator";
import Regex from "@/utils/regex";
import AdminBack from "@/api/AdminBack";
import Notify from "@/utils/notifications";

@Component
export default class Login extends Vue {
  regex: Regex = Regex;
  isFormValid: boolean = false;
  email: string = "";
  password: string = "";
  loading: boolean = false;

  login(email: string, password: string) {
    this.loading = !this.loading;
    AdminBack.login({ email, password })
      .then(() => {
        this.$router.replace({ name: "home" });
      })
      .catch(error => {
        this.loading = !this.loading;
        if (error.response && error.response.status == 403) {
          Notify.warning(
            "El correo o la contraseña son incorrectos",
            "Revisa tus credenciales"
          );
        } else {
          Notify.gebServerError(error);
        }
      });
  }

  updated() {
    this.isFormValid = (this.$refs["form"] as any).checkValidity();
  }
}
</script>
