<template>
  <div class="page_list">
    <div id="boxed" class="boxed">
      <div class="col-sm-8 col-lg-9 pl-0">
        <h3 class="font-weight-bold mb-0 mt-2">Páginas estáticas</h3>
      </div>
      <div class="col-sm-4 col-lg-3" v-if="Object.keys(page).length">
        <button class="btn btn-fill btn-danger btn-block my-1" @click="save">
          <i class="far fa-file-code mr-3"></i>
          Guardar {{ page.title }}
        </button>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-sm-8 col-lg-9">
        <h3 class="font-weight-bold mb-0">Páginas estáticas</h3>
      </div>
      <div class="col-sm-4 col-lg-3" v-if="Object.keys(page).length">
        <button class="btn btn-fill btn-danger btn-block my-1" @click="save">
          <i class="far fa-file-code mr-3"></i>
          Guardar {{ page.title }}
        </button>
      </div>
    </div>

    <div class="card drop">
      <div class="content">
        <loader v-if="loading" :error="error" :method="getPages" />
        <div class="row" v-else>
          <div class="col-sm-3 col-lg-3">
            <template v-if="pages.length">
              <b-table striped hover :items="pages" :fields="fields">
                <template slot="details" slot-scope="data">
                  <b-button
                    variant="info"
                    size="sm"
                    @click="showPage(data.item)"
                  >
                    Editar
                  </b-button>
                </template>
              </b-table>
            </template>

            <template v-else>
              <div class="text-center mb-5">
                <img
                  class="icon-xl"
                  src="../assets/images/icons/caja_vacia.svg"
                />
                <h5 class="font-weight-bold text-null ">
                  Aún no existen reportes registrados.
                </h5>
              </div>
            </template>
          </div>
          <div class="col-sm-9 col-lg-9">
            <template v-if="Object.keys(page).length">
              <froala v-model="page.htmlContent" :config="config"></froala>
            </template>
            <template v-else>
              <div class="text-center mt-5">
                <img
                  class="icon-xl"
                  src="../assets/images/icons/caja_vacia.svg"
                />
                <h5 class="font-weight-bold text-null ">
                  Selecciona una página para editar su contenido.
                </h5>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BTable, BButton } from "bootstrap-vue";
import Notify from "@/utils/notifications";
import Loader from "@/components/Loader.vue";
import * as PageServices from "@/api/LandingBackHelpers/Page";
import { serverBus } from "@/main";

@Component({ components: { BTable, BButton, Loader } })
export default class Page extends Vue {
  pages: Array<any> = [];
  page: any = {};
  loading: boolean = true;
  error: boolean = false;
  fields: Array<any> = [
    { key: "title", label: "Nombre", sortable: true },
    { key: "details", label: "" }
  ];
  config: object = { fullPage: true, language: "es" };

  getPages() {
    this.loading = true;
    this.error = false;

    PageServices.find()
      .then((res: any) => {
        this.loading = false;
        this.pages = res.data;
      })
      .catch((error: any) => {
        this.error = true;
        Notify.gebServerError(error);
      });
  }

  save() {
    PageServices.update(this.page.id, this.page)
      .then((res: any) => {
        Notify.successful("Página actualizada exitosamente.");
      })
      .catch((error: any) => {
        this.error = true;
        Notify.gebServerError(error);
      });
  }

  showPage(page: any) {
    this.page = page;
  }

  mounted() {
    this.getPages();
    serverBus.$off("updateLandingURL");
    serverBus.$on("updateLandingURL", () => {
      this.getPages();
    });
  }
}
</script>
