<template>
  <div class="change_password">
    <div id="boxed" class="boxed">
      <h3 class="mb-1 mt-2 font-weight-bold">Cambiar contraseña</h3>
    </div>
    <div class="row pb-2">
      <div class="col-sm-12">
        <h3 class="mb-2 font-weight-bold">Cambiar contraseña</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card drop">
          <div class="content">
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <form ref="formData" novalidate>
                  <div class="form-group">
                    <label>Contraseña actual</label>
                    <input
                      v-model="password"
                      id="id"
                      :class="
                        !password
                          ? ''
                          : regex.validate('password', password)
                          ? 'is-valid'
                          : 'is-invalid'
                      "
                      :pattern="regex.toString('password')"
                      type="password"
                      class="form-control border-input"
                      required
                    />
                    <div class="invalid-feedback">
                      La contraseña debe contener almenos 6 caracteres
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Nueva contraseña</label>
                    <input
                      v-model="newPassword"
                      id="id"
                      :class="
                        !newPassword
                          ? ''
                          : regex.validate('password', newPassword)
                          ? 'is-valid'
                          : 'is-invalid'
                      "
                      :pattern="regex.toString('password')"
                      type="password"
                      class="form-control border-input"
                      required
                    />
                    <div class="invalid-feedback">
                      La contraseña debe contener almenos 6 caracteres
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirmar contraseña</label>
                    <input
                      v-model="confirmPassword"
                      id="id"
                      :class="
                        !confirmPassword
                          ? ''
                          : regex.validate('password', confirmPassword) &&
                            samePassword
                          ? 'is-valid'
                          : 'is-invalid'
                      "
                      :pattern="regex.toString('password')"
                      type="password"
                      class="form-control border-input"
                      required
                    />
                    <small class="text-danger" v-if="!samePassword">
                      La contraseñas no coinciden
                    </small>
                  </div>
                  <div class="form-group mt-4">
                    <div class="row">
                      <div class="col">
                        <a
                          href="javascript:history.go(-1)"
                          class="btn btn-gray btn-block"
                          >Cancelar</a
                        >
                      </div>
                      <div class="col">
                        <button
                          type="submit"
                          class="btn btn-danger btn-fill btn-block"
                          :disabled="!isFormValid"
                          v-on:click="save"
                        >
                          Cambiar contraseña
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Notify from "@/utils/notifications";
import Regex from "@/utils/regex";
import * as UserServices from "@/api/AdminBackHelpers/User";

@Component
export default class Password extends Vue {
  regex: Regex = Regex;
  isFormValid: boolean = false;
  password: string = "";
  confirmPassword: string = "";
  newPassword: string = "";
  samePassword: boolean = true;

  checkValidity() {
    var password = true;
    if (this.newPassword) {
      password = this.newPassword === this.confirmPassword;
    }
    return (this.$refs["formData"] as any).checkValidity() && password;
  }

  save() {}

  updated() {
    this.isFormValid = this.checkValidity();
    if (this.newPassword && this.confirmPassword) {
      this.samePassword = this.newPassword === this.confirmPassword;
    }
  }
}
</script>
