<template>
  <div class="report_list">
    <div id="boxed" class="boxed">
      <div class="col-sm-8 col-lg-9 pl-0">
        <h3 class="font-weight-bold mb-0 mt-2">Reportes diarios</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block my-1"
          @click="showModal({}, true)"
        >
          <i class="fas fa-scroll mr-1"></i>
          Nuevo reporte
        </button>
      </div>
    </div>

    <div class="row justify-content-end pb-3">
      <div class="col-sm-8 col-lg-9">
        <h3 class="font-weight-bold mb-0">Reportes diarios</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block"
          @click="showModal({}, true)"
        >
          <i class="fas fa-scroll mr-1"></i>
          Nuevo reporte
        </button>
      </div>
    </div>

    <div class="card drop">
      <div class="content">
        <loader v-if="loading" :error="error" :method="getReports" />
        <div class="row" v-else>
          <div class="col-sm-12 col-lg-12">
            <template v-if="reports.length">
              <b-table striped hover :items="reports" :fields="fields">
                <template slot="active" slot-scope="data">
                  <i
                    class="fas fa-circle mr-1"
                    v-bind:class="
                      data.item.active ? 'text-success' : 'text-danger'
                    "
                  ></i>
                  {{ translations.status[data.item.active] }}
                </template>
                <template slot="resend" slot-scope="data">
                  <b-button variant="info" size="sm" @click="resend(data.item)">
                    Reenviar
                  </b-button>
                </template>
                <template slot="details" slot-scope="data">
                  <b-button
                    variant="info"
                    size="sm"
                    @click="showModal(data.item, false)"
                  >
                    Editar
                  </b-button>
                </template>
              </b-table>
            </template>

            <template v-else>
              <div class="text-center mb-5">
                <img
                  class="icon-xl"
                  src="../assets/images/icons/caja_vacia.svg"
                />
                <h5 class="font-weight-bold text-null ">
                  Aún no existen reportes registrados.
                </h5>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <modal-report
      ref="modalReport"
      :report="report"
      :create="create"
      @refresh="refresh"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BTable, BButton } from "bootstrap-vue";
import Notify from "@/utils/notifications";
import Loader from "@/components/Loader.vue";
import ModalReport from "@/components/ModalReport.vue";
import * as ReportServices from "@/api/LandingBackHelpers/Report";
import { serverBus } from "@/main";

@Component({ components: { BTable, BButton, ModalReport, Loader } })
export default class Report extends Vue {
  reports: Array<any> = [];
  report: object = {};
  error: boolean = false;
  loading: boolean = true;
  create: boolean = false;
  translations: object = {
    status: {
      true: "Activo",
      false: "Inactivo"
    }
  };
  fields: Array<any> = [
    { key: "title", label: "Nombre", sortable: true },
    { key: "hour", label: "Envío", sortable: true, formatter: "hourFormatter" },
    { key: "emails", label: "Enviar a", sortable: true },
    {
      key: "repeatedData",
      label: "Repetidos",
      sortable: true,
      formatter: "repeatedFormatter"
    },
    { key: "active", label: "Estatus", sortable: true },
    { key: "resend", label: "" },
    { key: "details", label: "" }
  ];

  hourFormatter(value: string) {
    return `${value}:00 horas`;
  }

  repeatedFormatter(value: boolean) {
    if (value) return `Sí`;
    else return `No`;
  }

  resend(report: any) {
    Notify.info("Enviando reporte");
    ReportServices.resend(report.id)
      .then((res: any) => {
        Notify.successful(report.emails, "Reporte enviado a: ");
      })
      .catch((error: any) => {
        Notify.gebServerError(error);
      });
  }

  getReports() {
    this.loading = true;
    this.error = false;

    ReportServices.find()
      .then((res: any) => {
        this.loading = false;
        this.reports = res.data;
      })
      .catch((error: any) => {
        this.error = true;
        Notify.gebServerError(error);
      });
  }

  showModal(report: object, create: boolean) {
    this.create = create;
    this.report = report;
    (this.$refs["modalReport"] as any).$children[0].show();
  }

  mounted() {
    this.getReports();
    serverBus.$off("updateLandingURL");
    serverBus.$on("updateLandingURL", () => {
      this.getReports();
    });
  }

  refresh() {
    this.getReports();
  }
}
</script>
