<template>
  <div class="user_list">
    <div id="boxed" class="boxed">
      <div class="col-sm-8 col-lg-9 pl-0">
        <h3 class="font-weight-bold mb-0 mt-2">Usuarios</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block my-1"
          @click="showModal({}, true)"
        >
          <i class="far fa-user mr-3"></i>
          Nuevo usuario
        </button>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-sm-8 col-lg-9">
        <h3 class="font-weight-bold mb-0">Usuarios</h3>
      </div>
      <div class="col-sm-4 col-lg-3">
        <button
          class="btn btn-fill btn-danger btn-block my-1"
          @click="showModal({}, true)"
        >
          <i class="far fa-user mr-3"></i>
          Nuevo usuario
        </button>
      </div>
    </div>

    <div class="card drop">
      <div class="content">
        <loader v-if="loading" :error="error" :method="getUsers" />
        <div class="row" v-else>
          <div class="col-sm-9 col-lg-9">
            <template v-if="users.length">
              <b-table striped hover :items="users" :fields="fields">
                <template slot="active" slot-scope="data">
                  <i
                    class="fas fa-circle mr-1"
                    v-bind:class="
                      data.item.active ? 'text-success' : 'text-danger'
                    "
                  ></i>
                  {{ translations.status[data.item.active] }}
                </template>
                <template slot="details" slot-scope="data">
                  <b-button
                    variant="info"
                    size="sm"
                    @click="showModal(data.item, false)"
                  >
                    Editar
                  </b-button>
                </template>
              </b-table>
            </template>

            <template v-else>
              <div class="text-center mb-5">
                <img
                  class="icon-xl"
                  src="../assets/images/icons/caja_vacia.svg"
                />
                <h5 class="font-weight-bold text-null ">
                  Aún no existen usuarios registrados.
                </h5>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <modal-user
      ref="modalUser"
      :user="user"
      :create="create"
      @refresh="refresh"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BTable, BButton } from "bootstrap-vue";
import Notify from "@/utils/notifications";
import Loader from "@/components/Loader.vue";
import ModalUser from "@/components/ModalUser.vue";
import * as UserServices from "@/api/AdminBackHelpers/User";

@Component({ components: { BTable, BButton, ModalUser, Loader } })
export default class Page extends Vue {
  users: Array<any> = [];
  user: any = {};
  loading: boolean = true;
  error: boolean = false;
  create: boolean = false;
  fields: Array<any> = [
    { key: "name", label: "Nombre", sortable: true },
    { key: "surname", label: "Apellidos", sortable: true },
    { key: "email", label: "Correo electrónico", sortable: true },
    { key: "active", label: "Estatus", sortable: true },
    { key: "details", label: "" }
  ];
  translations: object = {
    status: {
      true: "Activo",
      false: "Inactivo"
    }
  };

  getUsers() {
    this.loading = true;
    this.error = false;

    UserServices.find()
      .then((res: any) => {
        this.loading = false;
        this.users = res.data.data;
      })
      .catch((error: any) => {
        this.error = true;
        Notify.gebServerError(error);
      });
  }

  showModal(user: object, create: boolean) {
    this.create = create;
    this.user = user;
    (this.$refs["modalUser"] as any).$children[0].show();
  }

  refresh() {
    this.getUsers();
  }

  mounted() {
    this.getUsers();
  }
}
</script>
