<template>
  <div class="col-sm-12 p-5">
    <div class="text-center p-5" v-if="!error">
      <b-spinner
        variant="secondary"
        label="Text Centered"
        style="width: 5rem; height: 5rem;"
      ></b-spinner>
    </div>
    <div class="text-center p-5" v-if="error">
      <h3 class="font-weight-bold text-muted mb-4">
        Ocurrió un problema al obtener la información
      </h3>
      <div class="row mb-5">
        <div class="col-12 text-center">
          <button
            class="btn btn-danger btn-lg btn-fill"
            v-on:click="method(params)"
          >
            Reintentar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error", "method", "params"]
};
</script>
