<template>
  <div class="modal-card-sort">
    <b-modal
      ref="modalCardSort"
      :hide-header="true"
      :hide-footer="true"
      :static="true"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :hide-header-close="true"
      size="md"
      centered
    >
      <h6 class="font-weight-bold mb-5">
        Reordenar tarjetas
        <br />
        <small>
          Arrastra los elementos para reordenar las tarjetas
        </small>
      </h6>
      <form ref="formData" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <draggable class="list-group" v-model="sortingCards">
              <div
                class="list-group-item"
                v-for="card in sortingCards"
                :key="card.id"
              >
                {{ card.title }}
              </div>
            </draggable>
          </div>
        </div>
      </form>
      <hr />
      <button
        id="button_ok"
        @click="cancel"
        class="btn btn-danger btn-fill float-left mx-4"
      >
        Cancelar
      </button>
      <button
        id="button_ok"
        @click="save"
        class="btn btn-danger btn-fill float-right mx-4"
      >
        Guardar
      </button>
    </b-modal>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Notify from "@/utils/notifications";
import draggable from "vuedraggable";
import * as CardServices from "@/api/LandingBackHelpers/Card";

@Component({ components: { draggable } })
export default class ModalCardSort extends Vue {
  @Prop() cards!: any;
  sortingCards: Array<any> = [];

  save() {
    var cards = this.sortingCards.map((card: any) => {
      return card.id;
    });
    CardServices.order({ cards })
      .then((res: any) => {
        Notify.successful("Tarjetas ordenadas exitosamente.");
        this.$emit("refresh");
        (this.$refs["modalCardSort"] as any).hide();
      })
      .catch((error: any) => {
        Notify.gebServerError(error);
      });
  }

  cancel() {
    this.$emit("refresh");
    (this.$refs["modalCardSort"] as any).hide();
  }

  mounted() {
    this.$root.$on("bv::modal::shown", (bvEvent: any, modalId: any) => {
      this.sortingCards = this.cards;
    });
  }
}
</script>
