<template>
  <div class="modal-user">
    <b-modal
      ref="modalUser"
      :hide-header="true"
      :hide-footer="true"
      :static="true"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :hide-header-close="true"
      size="lg"
      centered
    >
      <h6 class="font-weight-bold mb-5">
        {{ title[create] }}
      </h6>
      <form ref="formData" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="id">Nombre</label>
              <input
                v-model="user.name"
                id="id"
                :class="
                  !user.name
                    ? ''
                    : regex.validate('names', user.name)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('names')"
                type="text"
                class="form-control border-input"
                required
              />
              <div class="invalid-feedback">
                Ingresa un nombre válido
              </div>
            </div>
          </div>
          <div class="col-sm-4 offset-sm-1">
            <div class="form-group">
              <label>Estatus</label>
              <br />
              <div class="btn-group btn-group-toggle w-100">
                <label
                  class="btn w-50 radio-no-active"
                  :class="{ active: !user.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="user.active"
                    :value="false"
                  />
                  Inactivo
                </label>
                <label
                  class="btn w-50 radio-active"
                  :class="{ active: user.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="user.active"
                    :value="true"
                  />
                  Activo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Apellidos</label>
              <input
                v-model="user.surname"
                id="id"
                :class="
                  !user.surname
                    ? ''
                    : regex.validate('surname', user.surname)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('surname')"
                type="text"
                class="form-control border-input"
                required
              />
              <div class="invalid-feedback">
                Ingresa al menos un apellido válido
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Correo electrónico</label>
              <input
                v-model="user.email"
                id="id"
                :class="
                  !user.email
                    ? ''
                    : regex.validate('email', user.email)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('email')"
                type="text"
                class="form-control border-input"
                required
              />
              <div class="invalid-feedback">
                Ingresa un email válido
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contraseña</label>
              <input
                v-model="user.password"
                id="id"
                :class="
                  !user.password
                    ? ''
                    : regex.validate('password', user.password)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('password')"
                type="password"
                class="form-control border-input"
                :required="create ? true : false"
              />
              <div class="invalid-feedback">
                La contraseña debe contener almenos 6 caracteres
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Confirmar contraseña</label>
              <input
                v-model="confirmPassword"
                id="id"
                :class="
                  !confirmPassword
                    ? ''
                    : regex.validate('password', confirmPassword) &&
                      samePassword
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('password')"
                type="password"
                class="form-control border-input"
                :required="create ? true : false"
              />
              <small class="text-danger" v-if="!samePassword">
                La contraseñas no coinciden
              </small>
            </div>
          </div>
        </div>
      </form>
      <hr />
      <button
        id="button_ok"
        @click="cancel"
        class="btn btn-danger btn-fill float-left mx-4"
      >
        Cancelar
      </button>
      <button
        id="button_ok"
        @click="save"
        class="btn btn-danger btn-fill float-right mx-4"
        :disabled="!isFormValid"
      >
        Guardar
      </button>
    </b-modal>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Regex from "@/utils/regex";
import Notify from "@/utils/notifications";
import { BFormSelect } from "bootstrap-vue";
import * as UserServices from "@/api/AdminBackHelpers/User";

@Component({ components: { BFormSelect } })
export default class ModalUser extends Vue {
  @Prop() create!: boolean;
  @Prop() user!: any;

  title: object = {
    true: "Nuevo usuario",
    false: "Editar usuario"
  };
  regex: Regex = Regex;
  isFormValid: boolean = false;
  confirmPassword: string = "";
  samePassword: boolean = true;

  save() {
    if (this.create) {
      UserServices.create(this.user)
        .then((res: any) => {
          this.confirmPassword = "";
          this.samePassword = true;
          Notify.successful("Usuario creado exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalUser"] as any).hide();
        })
        .catch((error: any) => {
          this.confirmPassword = "";
          this.samePassword = true;
          Notify.gebServerError(error);
        });
    } else {
      UserServices.update(this.user.id, this.user)
        .then((res: any) => {
          this.confirmPassword = "";
          this.samePassword = true;
          Notify.successful("Usuario actualizado exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalUser"] as any).hide();
        })
        .catch((error: any) => {
          this.confirmPassword = "";
          this.samePassword = true;
          Notify.gebServerError(error);
        });
    }
  }

  cancel() {
    this.confirmPassword = "";
    this.samePassword = true;
    this.$emit("refresh");
    (this.$refs["modalUser"] as any).hide();
  }

  mounted() {
    this.$root.$on("bv::modal::shown", (bvEvent: any, modalId: any) => {
      this.isFormValid = (this.$refs["formData"] as any).checkValidity();
    });
  }

  checkValidity() {
    var password = true;
    if (this.user.password) {
      password = this.user.password === this.confirmPassword;
    }
    return (this.$refs["formData"] as any).checkValidity() && password;
  }

  updated() {
    this.isFormValid = this.checkValidity();
    if (this.user.password && this.confirmPassword) {
      this.samePassword = this.user.password === this.confirmPassword;
    }
  }
}
</script>
