<template>
  <div class="modal-card">
    <b-modal
      ref="modalCard"
      :hide-header="true"
      :hide-footer="true"
      :static="true"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :hide-header-close="true"
      size="lg"
      centered
    >
      <h6 class="font-weight-bold mb-5">
        {{ title[create] }}
      </h6>
      <form ref="formData" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="id">Título</label>
              <input
                v-model="card.title"
                id="id"
                :class="
                  !card.title
                    ? ''
                    : regex.validate('alphanumeric', card.title)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('alphanumeric')"
                type="text"
                class="form-control border-input"
                required
              />
            </div>
          </div>
          <div class="col-sm-4 offset-sm-1">
            <div class="form-group">
              <label>Estatus</label>
              <br />
              <div class="btn-group btn-group-toggle w-100">
                <label
                  class="btn w-50 radio-no-active"
                  :class="{ active: !card.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="card.active"
                    :value="false"
                  />
                  Inactivo
                </label>
                <label
                  class="btn w-50 radio-active"
                  :class="{ active: card.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="card.active"
                    :value="true"
                  />
                  Activo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Url</label>
              <input
                v-model="card.url"
                :class="
                  !card.url
                    ? ''
                    : regex.validate('url', card.url)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('url')"
                type="text"
                class="form-control border-input"
                required
              />
              <div class="invalid-feedback">
                Ingresa un título válido
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contenido</label>
              <textarea
                v-model="card.description"
                :class="
                  !card.description
                    ? ''
                    : regex.validate('list', card.description)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                type="text"
                class="form-control border-input"
                rows="5"
              />
              <small class="text-danger">
                Ingresa una descripción, separada por Enter
              </small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Imágen</label>
              <vue-dropzone
                ref="myVueDropzone"
                id="dropzone"
                :options="dropzoneOptions"
                @vdropzone-file-added="fileAdded"
                @vdropzone-success="fileAddedSuccess"
                @vdropzone-max-files-reached="removePrevious"
              ></vue-dropzone>
            </div>
          </div>
        </div>
      </form>
      <hr />
      <button
        id="button_ok"
        @click="cancel"
        class="btn btn-danger btn-fill float-left mx-4"
      >
        Cancelar
      </button>
      <button
        id="button_ok"
        @click="save"
        class="btn btn-danger btn-fill float-right mx-4"
        :disabled="!isFormValid"
      >
        Guardar
      </button>
    </b-modal>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Regex from "@/utils/regex";
import Notify from "@/utils/notifications";
const VueDropzone = require("vue2-dropzone");
const Buffer = require("buffer").Buffer;
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import * as CardServices from "@/api/LandingBackHelpers/Card";

@Component({ components: { VueDropzone } })
export default class ModalCard extends Vue {
  @Prop() create!: boolean;
  @Prop() card!: any;

  title: object = {
    true: "Nueva tarjeta",
    false: "Editar tarjeta"
  };
  regex: Regex = Regex;
  dropzoneOptions: any = {
    url: "https://httpbin.org/post",
    acceptedFiles: "image/*",
    maxFilesize: 5,
    addRemoveLinks: true,
    maxFiles: 1,
    dictDefaultMessage: "Arrastra un imágen o haz click aquí",
    dictRemoveFile: "Eliminar",
    dictCancelUpload: "Cancelar carga",
    dictMaxFilesExceeded: "No se puede cargar más de un archivo"
  };
  isFormValid: boolean = false;
  loading: boolean = false;

  fileAdded(file: any) {
    this.loading = true;
    this.isFormValid = this.checkValidity();
  }
  fileAddedSuccess(file: any) {
    this.card.image = file.dataURL;
    this.loading = false;
    this.isFormValid = this.checkValidity();
  }

  removePrevious(file: any) {
    if (file.length > this.dropzoneOptions.maxFiles) {
      (this.$refs["myVueDropzone"] as any).removeFile(file[0]);
    }
  }

  save() {
    if (this.create) {
      this.card.order = 1;
      CardServices.create(this.card)
        .then((res: any) => {
          Notify.successful("Tarjeta creada exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalCard"] as any).hide();
        })
        .catch((error: any) => {
          Notify.gebServerError(error);
        });
    } else {
      CardServices.update(this.card.id, this.card)
        .then((res: any) => {
          Notify.successful("Tarjeta actualizada exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalCard"] as any).hide();
        })
        .catch((error: any) => {
          Notify.gebServerError(error);
        });
    }
  }

  cancel() {
    this.$emit("refresh");
    (this.$refs["myVueDropzone"] as any).removeAllFiles(true);
    (this.$refs["modalCard"] as any).hide();
  }

  mounted() {
    this.$root.$on("bv::modal::shown", (bvEvent: any, modalId: any) => {
      this.isFormValid = (this.$refs["formData"] as any).checkValidity();
    });
  }

  checkValidity() {
    var formValid = (this.$refs["formData"] as any).checkValidity();
    return this.create
      ? formValid &&
          !this.loading &&
          (this.$refs["myVueDropzone"] as any).getAcceptedFiles().length
      : formValid && !this.loading;
  }

  updated() {
    this.isFormValid = this.checkValidity();
  }
}
</script>
