<template>
  <div class="modal-report">
    <b-modal
      ref="modalReport"
      :hide-header="true"
      :hide-footer="true"
      :static="true"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :hide-header-close="true"
      size="lg"
      centered
    >
      <h6 class="font-weight-bold mb-5">
        {{ title[create] }}
      </h6>
      <form ref="formData" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="id">Nombre</label>
              <input
                v-model="report.title"
                id="id"
                :class="
                  !report.title
                    ? ''
                    : regex.validate('alphanumeric', report.title)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('alphanumeric')"
                type="text"
                class="form-control border-input"
                required
              />
            </div>
          </div>
          <div class="col-sm-4 offset-sm-1">
            <div class="form-group">
              <label>Estatus</label>
              <br />
              <div class="btn-group btn-group-toggle w-100">
                <label
                  class="btn w-50 radio-no-active"
                  :class="{ active: !report.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="report.active"
                    :value="false"
                  />
                  Inactivo
                </label>
                <label
                  class="btn w-50 radio-active"
                  :class="{ active: report.active }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="report.active"
                    :value="true"
                  />
                  Activo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Descripción</label>
              <input
                v-model="report.description"
                :class="
                  !report.description
                    ? ''
                    : regex.validate('alphanumeric', report.description)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('alphanumeric')"
                type="text"
                class="form-control border-input"
              />
              <div class="invalid-feedback">
                Ingresa una descripción válida
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Asunto</label>
              <input
                v-model="report.subject"
                :class="
                  !report.subject
                    ? ''
                    : regex.validate('alphanumeric', report.subject)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                :pattern="regex.toString('alphanumeric')"
                type="text"
                class="form-control border-input"
              />
              <div class="invalid-feedback">
                Ingresa una asunto válido
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Hora de envío</label>
              <b-form-select
                class="border-input"
                v-model="report.hour"
                :options="hours"
                required
              ></b-form-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Repetidos</label>
              <br />
              <div class="btn-group btn-group-toggle w-100">
                <label
                  class="btn w-50 radio-no-active"
                  :class="{ active: !report.repeatedData }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="report.repeatedData"
                    :value="false"
                  />
                  No
                </label>
                <label
                  class="btn w-50 radio-active"
                  :class="{ active: report.repeatedData }"
                >
                  <input
                    type="radio"
                    name="radios"
                    v-model="report.repeatedData"
                    :value="true"
                  />
                  Sí
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Enviar a</label>
              <textarea
                v-model="report.emails"
                :class="
                  !report.emails
                    ? ''
                    : regex.validate('emails', report.emails)
                    ? 'is-valid'
                    : 'is-invalid'
                "
                type="text"
                class="form-control border-input"
                rows="5"
                required
              />
              <small class="text-danger">
                Ingresa los correos, separados por coma
              </small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Columnas</label>
              <br />
              <el-select
                class="border-input"
                v-model="report.columns"
                multiple
                required
                size="large"
              >
                <el-option
                  v-for="column in columns"
                  :key="column"
                  :value="column"
                >
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
      </form>
      <hr />
      <button
        id="button_ok"
        @click="cancel"
        class="btn btn-danger btn-fill float-left mx-4"
      >
        Cancelar
      </button>
      <button
        id="button_ok"
        @click="save"
        class="btn btn-danger btn-fill float-right mx-4"
        :disabled="!isFormValid"
      >
        Guardar
      </button>
    </b-modal>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Regex from "@/utils/regex";
import Notify from "@/utils/notifications";
import { BFormSelect } from "bootstrap-vue";
import * as ReportServices from "@/api/LandingBackHelpers/Report";

@Component({ components: { BFormSelect } })
export default class ModalReport extends Vue {
  @Prop() create!: boolean;
  @Prop() report!: any;

  title: object = {
    true: "Nuevo reporte",
    false: "Editar reporte"
  };
  regex: Regex = Regex;
  isFormValid: boolean = false;
  columns: Array<string> = [];
  hours: Array<number> = [
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23
  ];

  save() {
    this.report.columns = this.report.columns.join(",");
    if (this.create) {
      ReportServices.create(this.report)
        .then((res: any) => {
          Notify.successful("Reporte creado exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalReport"] as any).hide();
        })
        .catch((error: any) => {
          Notify.gebServerError(error);
        });
    } else {
      ReportServices.update(this.report.id, this.report)
        .then((res: any) => {
          Notify.successful("Reporte actualizado exitosamente.");
          this.$emit("refresh");
          (this.$refs["modalReport"] as any).hide();
        })
        .catch((error: any) => {
          Notify.gebServerError(error);
        });
    }
  }

  cancel() {
    this.$emit("refresh");
    (this.$refs["modalReport"] as any).hide();
  }

  mounted() {
    this.$root.$on("bv::modal::shown", (bvEvent: any, modalId: any) => {
      if (this.report) {
        this.report.columns = this.report.columns.split(",");
        this.report.columns = this.report.columns.map((col: string) => {
          return col.trim();
        });
      }
      this.isFormValid = (this.$refs["formData"] as any).checkValidity();
    });
    ReportServices.columns()
      .then((res: any) => {
        this.columns = res.data;
      })
      .catch((error: any) => {
        Notify.gebServerError(error);
      });
  }

  checkValidity() {
    return (
      (this.$refs["formData"] as any).checkValidity() &&
      Regex.validate("emails", this.report.emails)
    );
  }

  updated() {
    this.isFormValid = this.checkValidity();
  }
}
</script>
