<template>
  <nav
    id="navbar-claro"
    class="navbar navbar-default fixed-top navbar-expand-lg w-100"
  >
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="logo border-right mr-2">
            <!-- <img src="../assets/claro.png" alt="Claro score" /> -->
          </div>
        </li>
        <li class="nav-item select">
          <div class="form-group mt-2 mb-0">
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <label
                  class="input-group-text font-weight-bold border border-white bg-white"
                  for="inputGroupSelect01"
                  >Landing:</label
                >
              </div>
              <select
                class="custom-select rounded"
                id="inputGroupSelect01"
                @change="landingSelected"
                v-model="currentLandingURL"
              >
                <option
                  v-for="c of landings"
                  :key="c.id"
                  :value="c.url"
                  :selected="c.url === currentLandingURL"
                  >{{ c.name }}</option
                >
              </select>
            </div>
          </div>
        </li>
      </ul>
      <ul id="navbar-user" class="navbar-nav w-auto">
        <li class="nav-item">
          <div class="media text-right">
            <div class="media-body">
              <h6 class="log-name">{{ user.name }} {{ user.surname }}</h6>
              <!-- <router-link to="/me/password">
                <button
                  class="small btn btn-white btn-sm px-3 px-lg-2 mr-3"
                  href="javascript:"
                >
                  <span class="hide-tablet">Cambiar contraseña</span>
                  <i class="fas fa-key ml-0 ml-lg-2"></i>
                </button>
              </router-link> -->
              <a
                class="small btn btn-white btn-sm px-3 px-lg-2"
                href="javascript:"
                v-on:click="logout"
              >
                <span class="hide-tablet">Salir</span>
                <i class="fas fa-power-off ml-0 ml-lg-2"></i>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AdminBack from "@/api/AdminBack";
import * as LandingServices from "@/api/AdminBackHelpers/Landing.ts";
import Landing from "@/models/Landing";
import Notify from "@/utils/notifications";
const _ = require("underscore");
import { serverBus } from "@/main";

@Component
/**
 * class TheNavBar - component that works to change landing and logout app.
 * @extends {Vue}
 */
export default class TheNavBar extends Vue {
  user: Object = {};
  currentLandingURL: string = "";
  landings: Array<Landing> = [];

  logout() {
    AdminBack.logout()
      .then(() => {
        this.user = {};
        this.$router.replace("/login");
      })
      .catch(Notify.gebServerError);
  }

  landingSelected() {
    this.$store.commit("updateLandingURL", this.currentLandingURL);
    localStorage.setItem("landingURL", this.currentLandingURL);
    serverBus.$emit("updateLandingURL");
  }

  getLandings() {
    LandingServices.find({ active: true })
      .then((resp: any) => {
        this.landings = resp.data.data;
        this.currentLandingURL = this.landings[0].url;
        localStorage.setItem("landingURL", this.currentLandingURL);
        this.$store.commit("updateLandingURL", this.currentLandingURL);
        serverBus.$emit("updateLandingURL");
        this.$store.commit(
          "updateLandings",
          _.object(_.map(this.landings, (l: Landing) => l.id), this.landings)
        );
      })
      .catch(Notify.gebServerError);
  }

  created() {
    this.getLandings();
    this.user = AdminBack.session.user();
  }
}
</script>
