<template>
  <div class="side-bar" role="tablist">
    <ul id="nav" class="nav">
      <router-link to="/card" class="w-100">
        <li class="relative" v-b-toggle.card>
          <a class="font-weight-bold mb-0">
            <i class="far fa-credit-card mr-2"></i>
            <span>Tarjetas</span>
          </a>
        </li>
      </router-link>
      <b-collapse id="card" accordion="nav" role="tablist"></b-collapse>

      <router-link to="/report" class="w-100">
        <li class="relative" v-b-toggle.report>
          <a class="font-weight-bold mb-0">
            <i class="fas fa-scroll mr-2"></i>
            <span>Reportes</span>
          </a>
        </li>
      </router-link>
      <b-collapse id="report" accordion="nav" role="tablist"></b-collapse>

      <router-link to="/page" class="w-100">
        <li class="relative" v-b-toggle.page>
          <a class="font-weight-bold mb-0">
            <i class="far fa-file-code mr-3"></i>
            <span>Páginas</span>
          </a>
        </li>
      </router-link>
      <b-collapse id="page" accordion="nav" role="tablist"></b-collapse>

      <router-link to="/user" class="w-100">
        <li class="relative" v-b-toggle.user>
          <a class="font-weight-bold mb-0">
            <i class="far fa-user mr-3"></i>
            <span>Usuarios</span>
          </a>
        </li>
      </router-link>
      <b-collapse id="user" accordion="nav" role="tablist"></b-collapse>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { BCollapse, VBToggle } from "bootstrap-vue";
Vue.component("b-collapse", BCollapse);
Vue.directive("b-toggle", VBToggle);

/**
 * class TheSideBar
 * @extends {Vue}
 */
@Component
export default class TheSideBar extends Vue {}
</script>
